.intro {
  padding-top: 40px;
}

.intro .container {
  position: relative;
}

.intro__img-wrapper {
  width: 297px;
  margin-left: 200px;
  margin-bottom: 25px;
}

.intro__inner {
  max-width: 683px;
  padding: 22px 0;
  background: $violet;
  position: relative;
}

.intro__inner::before {
  content: "";
  display: block;
  width: 100px;
  height: 0;
  border-bottom: 182px solid #33387A;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 1;
}

.intro__inner:after {
  content: "";
  display: block;
  width: 426px;
  height: 100px;
  border-top: 100px solid transparent;
  border-left: 55px solid white;
  background-color: $green;
  position: absolute;
  top: 44px;
  right: -457px;
  z-index: 0;
}

.intro__title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

.intro__shout {
  max-width: 320px;
  margin: 0 auto;
  padding: 6px 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

.intro__polygon-img {
  display: block;
  width: 341px;
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 1;
}

@media (max-width: 1170px) {
  .intro__inner:after {
    display: none;
  }
}

@media (max-width: 1080px) {
  .intro__polygon-img {
    top: 35px;
    right: 5px;
  }
}

@media (max-width: 1024px) {
  .intro__polygon-img {
    top: -10px;
    right: 5px;
  }
}

@media (max-width: 1023px) {
  .intro__polygon-img {
    display: none;
  }

  .intro__img-wrapper {
    margin: 0 auto 25px;
  }

  .intro__inner {
    max-width: 100%;
  }

  .intro__inner:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 30px;
  }

  .intro__shout {
    max-width: 270px;
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .intro__img-wrapper {
    width: 200px;
  }

  .intro__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro__title {
    font-size: 28px;
    word-break: break-word;
  }

  .intro__shout {
    max-width: 250px;
    font-size: 28px;
  }
}
